body{
  display: flex;
  flex-direction: column;
  font-family: 'Arvo', serif;
  padding: 0;
  align-items: center;
  justify-self: center;
  background-image: url(images/High_resolution_wallpaper_background_ID_77700689836.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
p,
li{
  margin: 0;
  color: white;
  font-size: 25px;
}

main{
  display: flex;
  flex-direction: column;
  width: 920px;
  border-radius: 12px;
  background-color: #11121b;
  height: 600px;
  margin-top: 50px;
}
article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 920px;
  border-radius: 12px;
  background-color: #11121b;
  height: 600px;
  margin-top: 50px;
  display: none;
}
section{
  align-self: stretch;
  margin: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr;
}



.card-container{
  position: relative;
  background-color: rgb(39, 50, 53);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 150px;
}

figure{
  position: absolute;
}

nav{
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: space-between;
}
#refresh-btn{
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: black;
  border-radius: 12px;
  cursor: pointer;
  color: white;
}

#play-again{
  padding: 20px 120px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background:#000000;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 40px;
  cursor: pointer;
  border: none;
}

.card-img{
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.card{
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.refresh-png{
  width: 45px;
}
/* Game Rules Section style */
span{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 920px;
  border-radius: 12px;
  background-color: #16161d;
  height: 600px;
  margin-top: 50px;
  text-align: center;
}
ul{
text-align: start;
}
#start-btn{
  padding: 20px 120px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background:#000000;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 40px;
  cursor: pointer;
  border: none;
}
#mute,
#volume{
  width: 30px;
}
.mute-container{
  position: relative;
  cursor: pointer;
}
.volume-container{
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media screen and (max-width: 430px) {
  body{
    background-color: black;
  }
  main,
  article,
  span {
    width: 350px;
  }
  nav{
    margin-left: 10px;
    margin-right: 10px;
  }
  p,
  li{
    font-size: 18px;
  }
  section{
    margin: 15px;
    margin-top: 35px;
    max-width: 320px;
  }
  .card{
    width: 80px;
    height: 80px;
  }
  .card-img{
    width: 60px;
    height: 60px;
  }
  #start-btn {
    margin-bottom: 15px;
  }

}